<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProcessOptima AI Technology</title>
    <link
      rel="icon"
      href="/Hackaton_IA_2024/Hackaton Project/Python Files/Application Program Interface/Template/Images/Designer (13).jpeg"
      type="image/jpeg"
    />
    <link rel="stylesheet" href="Styles.css" />
  </head>
  <body>
    <h1>
      <strong> ProcessOptima AI </strong>
    </h1>

    <h2>Hola, este es ProcessOptima AI, preguntame lo que necesites</h2>

    <img
      src="/Hackaton_IA_2024/Hackaton Project/Python Files/Application Program Interface/Template/Images/Designer (13).jpeg"
      width="320px"
      height="300px"
      class="img-izquierda"
    />
    <textarea readonly
      name="input"
      id="0"
      cols="30"
      rows="10"
      placeholder="¡Hola! Soy Process AI, pregúntame lo que desees en el área de texto inferior."
      wrap="soft"
      class="textarea-izquierda-Locked"
    ></textarea>
    <input 
    <textarea
      name="inputTwo"
      id="1"
      cols="30"
      rows="10"
      placeholder="Inserta tu texto aquí."
      wrap="soft"
      class="textarea-abajo"
    ></textarea>/>
    <input type="button" class="ButtonOn" value="Enviar mensaje">
  </body>
</html>
