h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.2rem; /* Uso de rem para mejor accesibilidad */
  text-align: center;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

.img-izquierda {
  position: absolute;
  left: 23rem;
  top: 9.4rem;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.textarea {
  font-size: 1.6rem;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.textarea::placeholder {
  color: white;
}

.textarea-izquierda-Locked {
  position: absolute;
  top: 9.4rem;
  left: 43.8rem;
  width: 24.7rem;
  height: 18.75rem;
}

.textarea-abajo {
  position: absolute;
  top: 29.06rem;
  left: 23rem;
  width: 45rem;
  height: 6.25rem;
}

.ButtonOn {
  position: absolute;
  font-size: 1.6rem;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 8px;
  top: 36.25rem;
  left: 23rem;
}

body {
  background-color: black;
}
